h1 {
  color: white; font-size:36px;font-family: 'Catamaran', serif; text-shadow: 1px 2px black;
}

h2 {
  color:white; font-size:34px;font-family: 'Catamaran', serif; text-shadow: 1px 2px black;
}



h3 {
  color:black; font-size: 14px; font-family: 'Catamaran', serif;text-align:center;
}

h4{
  color:#585dcc ; font-size: 14px; font-family: 'Catamaran', serif;text-align:center;
}

h5{
    font-size: 14px; font-family: 'Catamaran', serif;text-align:center;color:#black;text-decoration: none;
}

/* h6{
    font-size: 14px; font-family: 'Catamaran', serif;text-align:center;color:#red;
} */
body{
  background-color: #a6d4f7 ;
}

button{
  color:blue; font-size:5px
}

th{
  text-align:center;color:#3d37ed ; font-size: 14px; font-family: 'Catamaran', serif;
}
